In [6]:
import pandas as pd
data = {'name': ['a', 'b', 'c', 'a'], 'test1': [20, 21, 19, 18], 'test2':[60, 30, 40, 36]}
df = pd.DataFrame(data)
df

  name  test1  test2
0    a     20     60
1    b     21     30
2    c     19     40
3    a     18     36

In [7]:
# เติมบรรทัดสุดท้าย
tmp = df.groupby(by=['name']).agg({'test1':'sum','test2':'sum'})
tmp.loc['total'] = tmp.sum(axis=0)
tmp

       test1  test2
name
a         38     96
b         21     30
c         19     40
total     78    166