### แปลงค่าตัวอักษร(category)เป็นตัวเลข
### กำหนดตัวเลข โดย เรียงตามตัวอักษร

In [6]:
import pandas as pd
data = {'name': ['a', 'b', 'c', 'a'], 'age': [21, 21, 19, 18], 'weight':[60, 30, 40, 36]}
df = pd.DataFrame(data)
df

  name  age  weight
0    a   21      60
1    b   21      30
2    c   19      40
3    a   18      36

In [7]:
category_cols = ['name']
for header in category_cols:
    df[header+'_cat'] = df[header].astype('category').cat.codes

In [8]:
df

  name  age  weight  name_cat
0    a   20      60         0
1    b   21      30         1
2    c   19      40         2
3    a   18      36         0

In [9]:
df.dtypes

name        object
age          int64
weight       int64
name_cat      int8
dtype: object

In [13]:
df[['name','name_cat']].value_counts().sort_index()

name  name_cat
a     0           2
b     1           1
c     2           1
dtype: int64

### แปลงเป็น dummy variable

In [8]:
# reference : https://lengyi.medium.com/one-hot-encoding-737c66e5b1bd

import pandas as pd

#One-Hot encoding
dummies = pd.get_dummies(df['name'])
df_onehot = pd.concat([df, dummies], axis = 1)
df_onehot

  name  age  weight  a  b  c
0    a   21      60  1  0  0
1    b   21      30  0  1  0
2    c   19      40  0  0  1
3    a   18      36  1  0  0

In [9]:
#Dummy Variable Encoding
dummies = pd.get_dummies(df['name'], drop_first = True)
df_var = pd.concat([df, dummies], axis = 1)
df_var

  name  age  weight  b  c
0    a   21      60  0  0
1    b   21      30  1  0
2    c   19      40  0  1
3    a   18      36  0  0

In [10]:
list_dummy = ['name','age']
df_dummy = pd.get_dummies(df, columns = list_dummy)
df_dummy

   weight  name_a  name_b  name_c  age_18  age_19  age_21
0      60       1       0       0       0       0       1
1      30       0       1       0       0       0       1
2      40       0       0       1       0       1       0
3      36       1       0       0       1       0       0