In [1]:
import pandas as pd
data = {'name': ['a', 'b', 'c', 'a'], 'age': [20, 21, 19, 18], 'weight':[60, 30, 40, 36]}
df = pd.DataFrame(data)
df

  name  age  weight
0    a   20      60
1    b   21      30
2    c   19      40
3    a   18      36

In [3]:
df.dtypes

name      object
age        int64
weight     int64
dtype: object

In [8]:
import numpy as np

# เปลี่ยน data type เป็น String(Object)
df["age"] = df["age"].astype(str)

# เปลี่ยน data type เป็น Integer32bit
df["age"] = df["age"].astype(np.int32)

# เปลี่ยน data type เป็น Float
df["weight"] = df["weight"].astype(float)

In [9]:
df.dtypes

name       object
age         int32
weight    float64
dtype: object

In [12]:
df

  name  age  weight
0    a   20    60.0
1    b   21    30.0
2    c   19    40.0
3    a   18    36.0