ปรับค่าที่น้อยกว่าค่าที่กำหนด (percentile x1-th) ให้เป็นค่าที่ percentile x1-th
และ ปรับค่าที่มากกว่าค่าที่กำหนด (percentile x2-th) ให้เป็นค่าที่ percentile x2-th

วิธีใช้
capmax_bypct(dataframe, [percentile x1-th, percentile x2-th])

In [6]:
import pandas as pd
data = {'name': ['a', 'b', 'c', 'a'], 'age': [10020, 21, 19, 18], 'weight':[60, 30, 10040, 36]}
df = pd.DataFrame(data)
df

  name    age  weight
0    a  10020      60
1    b     21      30
2    c     19   10040
3    a     18      36

In [26]:
# Cap min-max
import numpy as np
def capmax_bypct(x , pct) : ## ระวัง field ที่ missing ทั้งหมด หรือ มีค่าๆ เดียวเยอะๆ จน cap แล้วเหลือค่าเดียว
    data = x.copy()
    for a in data.columns :
    
        try :

            data[a] = data[a].astype(float)
            b = ~(np.isnan(data[a].values))
            b = data[a].values[b]
            # print(b)      
            upper = np.percentile(b, pct[1])
            lower = np.percentile(b, pct[0])

            data.loc[(~data[a].isna()) & (data[a]>upper), a] = upper
            data.loc[(~data[a].isna()) & (data[a]<lower), a] = lower
      
     
            print(a, ':','\n','max = {:,.2f}'.format(upper),'\n','min = {:,.2f}'.format(lower))
        except : pass
    return data

df_cap = capmax_bypct(x = df, pct = (5, 95))  
df_cap

age :
 max = 8,520.15
 min = 18.15
weight :
 max = 8,543.00
 min = 30.90

  name      age  weight
0    a  8520.15    60.0
1    b    21.00    30.9
2    c    19.00  8543.0
3    a    18.15    36.0

In [ ]:
# data[a].notna()
# np.logical_not(data[a].isna())
# data[a].isna() == False
# data.loc[(~ data[a].isna()) & (data[a] > np.percentile(data[a], pct[1])), a] = np.percentile(data[a], pct[1])