In [ ]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

### แปลง yyyymm เป็นวันที่ yyyy-mm-dd วันที่ 1 และ วันสิ้นเดือน

In [ ]:
# แปลง yyyymm เป็นวันที่ yyyy-mm-dd
end_yyyymm = 202109

st_yyyymmdd = str(pd.Period(str(end_yyyymm),freq='M').start_time.date())
print('st_yyyymmdd =',st_yyyymmdd)
end_yyyymmdd = str(pd.Period(str(end_yyyymm),freq='M').end_time.date())
print('end_yyyymmdd =',end_yyyymmdd)

yyyy = int(end_yyyymmdd.replace('-','')[:4])
print('yyyy =', yyyy)
mmdd = int(end_yyyymmdd.replace('-','')[4:8])
print('mmdd =', mmdd)

### เพิ่ม-ลด เดือน

In [ ]:
# เพิ่ม 1 เดือน
mth_lag01 = '201812'
dt2 = datetime.strptime(mth_lag01,"%Y%m").date()
mth_lag00 = datetime.strftime((dt2 + relativedelta(months=1)), '%Y%m')
mth_lag00

In [ ]:
# ลด 1 เดือน
mth_lag00 = datetime.strftime(datetime.strptime(mth_lag01, '%Y%m') + relativedelta(months=-1), '%Y%m')
mth_lag00

### สร้าง list เดือนตั้งแต่ เดือนเริ่ม ถึง เดือนท้าย ที่กำหนด

In [ ]:
# สร้าง list เดือนตั้งแต่ เริ่ม ถึง ท้าย ที่กำหนด
begin_yr = 2018
begin_mth = 1
end_yr = 2020
end_mth = 3

b_yyyymm = begin_yr*100 + begin_mth
e_yyyymm = end_yr*100 + end_mth

print(b_yyyymm,e_yyyymm)

[yr*100+mth for yr in range(begin_yr,end_yr+1) for mth in range(1,13) if ((yr*100+mth)>=b_yyyymm) & ((yr*100+mth)<=e_yyyymm) ]

### สร้าง list เดือน ตามจำนวนเดือนที่กำหนด

In [5]:
# Generate mthkey
# setting : begin_mth, begin_yr
# setting : periods

mthkey = '201905'
import math    
begin_yr = 2019
begin_mth = 5
period = 7
b_yyyymm = begin_yr * 100 + begin_mth

m = [yr*100+mth for yr in range(begin_yr, begin_yr + math.ceil(period/12)+1) for mth in range(1,13) if ((yr*100+mth)>=b_yyyymm)][: period]    
m

[201905, 201906, 201907, 201908, 201909, 201910, 201911]

### สร้าง list เดือน นับถอยตามจำนวนเดือนที่กำหนด

In [4]:
# เดือนที่จะทำรายงาน
end_yyyymm = 202112

begin_yr = int(str(end_yyyymm)[0:4])
begin_mth = int(str(end_yyyymm)[4:6])
period = -6
b_yyyymm = begin_yr * 100 + begin_mth
m = [yr*100+mth for yr in range(begin_yr-1, begin_yr+1) for mth in range(1,13) if ((yr*100+mth)<=b_yyyymm)][period:]
m

[202107, 202108, 202109, 202110, 202111, 202112]

### แปลง date9 เป็น datetime และหา diff date

In [6]:
import calendar
import pandas as pd
import numpy as np
import datetime

mth1 = '09Feb2019'
mth2 = '13Jan2018'

map_date = {}
for n, i in enumerate(calendar.month_abbr,1):
    # print(n)
    # print(i)
    map_date[i] = n
  
map_date.items()
map_date

{'': 1,
 'Jan': 2,
 'Feb': 3,
 'Mar': 4,
 'Apr': 5,
 'May': 6,
 'Jun': 7,
 'Jul': 8,
 'Aug': 9,
 'Sep': 10,
 'Oct': 11,
 'Nov': 12,
 'Dec': 13}

In [7]:
def date9_sas(dt):
    mth_dict = dict((mth.lower(),n) for n,mth in enumerate(calendar.month_abbr))
    str_dt = str(dt[5:9]) + '/' + str (mth_dict[str(dt[2:5]).lower()]) + '/' + str(dt[0:2])
    return pd.to_datetime(str_dt, format='%Y/%m/%d')

# หรือ 

def date9_sas(dt):
    mth_dict = dict((mth.lower(),n) for n,mth in enumerate(calendar.month_abbr))
    return pd.to_datetime(str(dt[5:9]) + '/' + str (mth_dict[str(dt[2:5]).lower()]) + '/' + str(dt[0:2]),format='%Y/%m/%d')

In [20]:
date9_sas(mth1)

Timestamp('2019-02-09 00:00:00')

In [21]:
date9_sas(mth2)

Timestamp('2018-01-13 00:00:00')

#### diff date

In [13]:
(date9_sas(mth1) - date9_sas(mth2)).days

392

In [18]:
data = pd.DataFrame({'date':[mth1,mth2]})
data

        date
0  09Feb2019
1  13Jan2018

In [22]:
data['new_date'] = data['date'].apply(lambda x : date9_sas(x))
data = data.sort_values(by='date',ascending=False)
data['diff_date'] = (data['new_date'] -  data['new_date'].shift(1)).dt.days
data

        date   new_date  diff_date
1  13Jan2018 2018-01-13        NaN
0  09Feb2019 2019-02-09      392.0

In [23]:
(data['new_date'] -  data['new_date'].shift(1))

1        NaT
0   392 days
Name: new_date, dtype: timedelta64[ns]

#### หรือ

In [15]:
def d9_dt(d) :
    mth_dict = dict((mth.lower(),n) for n,mth in enumerate(calendar.month_abbr))
    return datetime.datetime.strptime(str(int(d[5:9])*10000+int(mth_dict[str(d[2:5]).lower()])*100+int(d[0:2])), '%Y%m%d').strftime('%d/%m/%y')
  


d9_dt(mth1)
d9_dt(mth2)

'13/01/18'

In [16]:
a = pd.to_datetime(d9_dt(mth2), format='%d/%m/%y')
b = pd.to_datetime(d9_dt(mth1), format='%d/%m/%y')
b-a

Timedelta('392 days 00:00:00')

In [17]:
# dir(b-a)
(b-a).days

392