In [3]:
import pandas as pd
data = {'name': ['a', 'b', 'c', 'a'], 'age': [20, 21, 19, 18], 'weight':[60, 30, 40, 36]}
df = pd.DataFrame(data)
df

  name  age  weight
0    a   20      60
1    b   21      30
2    c   19      40
3    a   18      36

In [5]:
df.groupby(by=['name']).agg({'weight':['count','sum']})

     weight
      count sum
name
a         2  96
b         1  30
c         1  40

In [4]:
tmp = df.groupby(by=['name']).agg({'weight':['count','sum']}).reset_index()
tmp.columns = ['_'.join(n) if n[1]!='' else n[0]  for n in tmp.columns]
tmp

  name  weight_count  weight_sum
0    a             2          96
1    b             1          30
2    c             1          40

#### หรือ

In [9]:
a = df.groupby(by=['name']).agg({'weight':['count','sum']})
b = pd.DataFrame(a.reset_index().values, columns=['_'.join(n) if n[1]!='' else n[0]  for n in a.reset_index().columns] )
b

  name weight_count weight_sum
0    a            2         96
1    b            1         30
2    c            1         40